*{
    margin: 0px;
    padding: 0px;
}
.main{
    text-align: center;
    padding: 100px;
    color: azure;
    font-weight: bold;
    background-color: rgba(198, 14, 112, 0.704);
}
nav,a{
    padding: 10px 30px ;
    color: rgb(240, 240, 248);  
}
a{
    text-decoration: none;
    /* color: rgb(30, 131, 37);    */
}
a:hover{
    color: rgba(208, 0, 255, 0.986);
}
nav{
    background-color: rgba(0, 0, 0, 0.79);
    margin: 0px;

}
h2,p{
    margin: 10px 50px;
    font-weight: bold;
}
h2{
    padding: 10px 1px;
    color: rgb(0, 0, 0);
    
}
br+h2{
    font-weight: bold;
}